{% extends "layout.html" %}
{% block title %}Music Library{% endblock %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='library.js') }}"></script>
{% endblock %}
{% block content %}
<div id="top">
<div id="search">
<form id="searchform" action="/library" method="get">
    <input type="text" name="query" />
    <input type="submit" value="Search" />
</form>
<label for="playlist">Playlist: </label>
<select id="playlist-selector" name="playlist" form="searchform">
    {% for playlist in playlists %}
        <option value="{{ playlist.pid }}" {% if playlist.selected %}selected="selected"{% endif %}>{{ playlist.title }}</option>
    {% endfor %}
<option value="all" {% if allselected %}selected="selected"{% endif %}>All Songs</option>
</select>
</div>
<div id="libraryAdd">
<form id="downloadform" action="/api/libraryAdd" method="post">
    <input type="text" name="title" />
    <input type="hidden" name="csrf" value="{{ csrf_token() }}" />
    <input type="submit" value="Download and Add" />
</form>
</div>
</div>
<div id='songs'>
<table id='songtable'>
<tr class="titlerow">
<th class="titlecell order-header">Title</th>
<th class="titlecell order-header">Artist</th>
<th class="titlecell order-header">Duration</th>
<th class="rightextend"></th>
{% for song in songs %}
<tr class="songrow">
<td class="songtd">{{ song.title }}</td>
<td class="songtd">{{ song.artist }}</td>
<td class="songtd">{{ song.length }}</td>
<td class="rightextend">
<button class="songbutton queueAdd" data-sid="{{ song.sid }}">Add to Queue</button>
{% if allselected %}
<select class="songbutton playlistAdd" data-sid="{{ song.sid }}">
<option selected disabled hidden>Add to Playlist</option>
{% for playlist in playlists %}
    <option value="{{ playlist.pid }}">{{ playlist.title }}</option>
{% endfor %}
</select>
{% else %}
<button class="songbutton playlistRemove" data-sid="{{ song.sid }}" data-pid="{{ pid }}">Remove From Playlist</button>
{% endif %}
</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
