{% extends "index.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<!-- Login form -->
<div class="login">
    <form class="loginform" method="post">
        <label for="email"><span>Email: </span><input class="logintext" name="email" type="email" required="true"/></label>
        <label for="password"><span>Password: </span><input class="logintext" name="password" type="password" required="true"/></label>
        <input name="csrf_token" type="hidden" value="{{ csrf_token() }}" />
        <button class="signup-button" type="submit" formaction="/api/register">Sign up</button>
        <button class="login-button" type="submit" formaction="/api/login">Login</button>
    </form>
</div>
{% endblock %}
